.lines {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    pointer-events: none;
}

.lines.are--horizontal {
    flex-direction: column;
}

.lines > div {
    background-color: var(--light);
    animation: draw_line .5s ease-in-out forwards;
}

.lines.are--vertical > div {
    flex: 0 0 var(--grid-gap);
    transform-origin: bottom center;
    transform: scale(1, 0);
}

.lines.are--horizontal > div {
    height: var(--grid-gap);
    transform-origin: left center;
    transform: scale(0, 1);
}

@keyframes draw_line {
    to {
        transform: scale(1, 1);
    }
}