.grid {
  position: relative;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(var(--cells-per-line), 1fr);
  margin-top: var(--vertical-margin);
}

.cell {
  aspect-ratio: 1 / 1;
  font-size: 0;
  text-align: center;
  color: transparent;
  user-select: none;
}

.player-x {
  background-color: rgb(255, 215, 15);
}

.player-o {
  background-color: rgb(94, 74, 223);
}

.cell.is--winner-move {
  animation: flash .8s ease-in infinite;
}

@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}