input {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    width: 125px;
    accent-color: var(--light);
}

input::-webkit-slider-runnable-track,
input::-moz-range-track {
    height: 4px;
    background-color: var(--dark);
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -12px;
    background-color: var(--light);
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

input::-moz-range-thumb {
    border: none;
    border-radius: 50%;
    background-color: var(--light);
    height: 25px;
    width: 25px;
}

label {
    flex: 1;
    display: flex;
    justify-content: center;
}

label > span:first-child {
    font-weight: 700;
    margin-right: 5px;
}