main {
  margin-top: var(--vertical-margin);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--vertical-margin);
  padding: 0 var(--grid-gap);
}